<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info text-secondary px-5">
         ارسال اشعار
          </div>
        </div>
      </div>
      <div class="row p-5 pt-0">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="border rounded text-white" >
                <span class="text-start rounded text-info ">
                  اضافة صورة :
                </span>
                <span type="file" class="text-dark">
                  -----------
                </span>
              </div>    
            </div>
            <div class="col-md-12 mb-2">
              <div class="border rounded text-white" >
                <span class="text-start rounded text-info">
                  عنوان الاشعار بالعربية :
                </span>
                <span class="text-dark">
                  -----------
                </span>
              </div>
            </div> 
            <div class="col-md-12 mb-2">
              <div class="border rounded text-white" >
                <span class="text-start rounded text-info">
                 محتوى الاشعار بالعربية :
                </span>
                <span class="text-dark">
                  -----------
                </span>
              </div>
            </div>
            <div class="col-md-12 mb-2">
              <div class="border rounded text-white" >
                <span class="text-start rounded text-info">
                  عنوان الاشعار بالانجليزية :
                </span>
                <span class="text-dark">
                  -----------
                </span>
              </div> 
            </div>
            <div class="col-md-12 mb-2">
              <div class="border rounded text-white" >
                <span class="text-start rounded text-info">
                  محتوى الاشعار بالانجليزية :
                </span>
                <span class="text-dark">
                  -----------
                </span>
              </div>             
            </div>
            <div class="col-sm-2">
              <div class="mb-3">
              <button type="submit" class="btn btn-outline-info text-secondary me-2">ارسال</button>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
