
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">قائمة الحركات</h6>
          <form class="forms-sample">
            <div class="row">
              <div class="col-sm-10">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="اسم العضو ">
              </div>
              </div>
              <div class="col-sm-2">
              <div class="mb-3">
              <button type="submit" class="btn btn-info text-white me-2">بحث</button>
              </div>
              </div>

            </div>
            
          
          </form>
        </div>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center align-middle">#</th>
                  <th class="text-center align-middle">اسم العضو</th>
                  <th class="text-center align-middle">نوع الحركة</th>
                  <th class="text-center align-middle">مقدار الحركة</th>
                  <th class="text-center align-middle">تمت بواسطة</th>
                  <th class="text-center align-middle">تاريخ الحركة</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td class="text-center align-middle">العراقي</td>
                  <td class="text-cente align-middle"><div class="badge bg-danger">ايداع</div></td>
                  <td class="text-center align-middle">26000 د.ع</td>
                  <td class="text-center align-middle">BuyingProcess_I
                  </td>
                  <td class="text-center align-middle">2022-01-29</td>
                 
                </tr>
                <tr>
                  <th>1</th>
                  <td class="text-center align-middle">العراقي</td>
                  <td class="text-cente align-middle"><div class="badge bg-primary">سحب</div></td>
                  <td class="text-center align-middle">26000 د.ع</td>
                  <td class="text-center align-middle">BuyingProcess_I
                  </td>
                  <td class="text-center align-middle">2022-01-29</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>

  </div>
 
<!-- Button trigger sm modal -->