
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">قائمة الحركات</h6>
          <form class="forms-sample">
            <div class="row">
              <div class="col-sm-10">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="اسم العضو ">
              </div>
              </div>
              <div class="col-sm-2">
              <div class="mb-3">
              <button type="submit" class="btn btn-info text-white me-2">بحث</button>
              </div>
              </div>

            </div>
            
          
          </form>
        </div>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center align-middle">مسار الصورة</th>
                  <th class="text-center align-middle">رابط الصورة</th>
                  <th class="text-center align-middle">الاجرائات</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center align-middle">لايوجد مسار</td>
                  <td class="text-cente align-middle"><div class="badge bg-primary">لايوجد رابط</div></td>
                  <td class="text-center align-middle" >
                    <button type="button" class="btn btn-warning text-white mx-1"><i class="feather icon-eye"></i></button>
                    <button type="button" class="btn btn-danger mx-1"><i class="feather icon-delete"></i></button>
                   </td>
               
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>

  </div>
 
<!-- Button trigger sm modal -->