
  <div class="row">
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary text-white me-2 " style="float: left;">اضافة عضو</button>
      </div>
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">قائمة الكروت المباعة</h6>
          <form class="forms-sample">
            <div class="row">
              <div class="col-sm-10">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="off" placeholder="اسم العضو - رقم الكارت - رقم سريال">
              </div>
              </div>
              <div class="col-sm-2">
              <div class="mb-3">
              <button type="submit" class="btn btn-info text-white me-2">بحث</button>
              </div>
              </div>

            </div>
            
          
          </form>
        </div>
      </div>
    </div>
</div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center align-middle">#</th>
                  <th class="text-center align-middle">رقم الكارت</th>
                  <th class="text-center align-middle">رقم الكارت التسلسلي</th>
                  <th class="text-center align-middle">الفئة</th>
                  <th class="text-center align-middle">سعر الشراء</th>
                  <th class="text-center align-middle">سعر البيع</th>
                  <th class="text-center align-middle">تأريخ البيع</th>
                  <th class="text-center align-middle">اسم المشتري</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td class="text-center align-middle">5583826</td>
                  <td class="text-cente align-middle">J211110I31000</td>
                  <td class="text-center align-middle">كوكل بلي امريكي(25$)</td>
                  <td class="text-center align-middle">24 د.ع</td>
                  <td class="text-center align-middle">24 د.ع</td>
                  <td class="text-center align-middle">2022-01-29</td>
                  <td class="text-center align-middle">العراقي</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>

  </div>
 
<!-- Button trigger sm modal -->